[Unit]
Description=DoH Frontend
After=docker.service

[Service]
ExecStart=/usr/bin/env docker run --rm -p 127.0.0.1:18053:8053 doh-frontend
Type=simple
KillMode=process

[Install]
WantedBy=multi-user.target
