[Unit]
Description=DoH Frontend
After=docker.service

[Service]
ExecStartPre=-/usr/bin/env docker run -d -p 127.0.0.1:18053:8053 --name doh-frontend doh-frontend
ExecStart=/usr/bin/env docker start -a doh-frontend
Type=simple
KillMode=process

[Install]
WantedBy=multi-user.target
