[Unit]
Description=DoH Backend
After=docker.service

[Service]
ExecStartPre=-/usr/bin/env docker run -d -p 127.0.0.1:18054:8054 --name doh-backend doh-backend
ExecStart=/usr/bin/env docker start -a doh-backend
Type=simple
KillMode=process

[Install]
WantedBy=multi-user.target
